* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    height: 60%;
    width: 25%;
}
#display-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    height: 30%;
    background-color: #e0e0e0;
}

#buttons-container {
    height: 70%;
    display: flex;
    flex-direction: column;
}

.parent-row {
    flex: 1;

    display: flex;
}
.btn {
    flex: 1;
}