* {
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
}

main{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #2b2d2f;
    width: 23%;
    height: 63%;
    background-color: #2b2d2f;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);;
}
#input-box{
    height: 30%;
    background-color: #2b2d2f;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
#display{
    font-family: sans-serif;
    color: white;
    font-size: 1.6rem;
    padding: 0 20px 20px 0;
}

#main-button-container{
    height: 70%;
    gap: 1px;
    display: flex;
    flex-direction: column; 
    
}
.horizontal-container{
    flex: 1;
    gap: 1px;
    display: flex
}
.horizontal-container > *{
    flex: 1;
}
button {
    font-size: 1.25rem;
    border: none;
    color: white;
    outline: none;
    /*outline: none;*/
}
button:active{
    transform: scale(0.99);
}
button:hover{
    filter: brightness(90%);
}
.number-button {
    background-color: #707275;
}
.orange-button {
    background-color: #ff9f0c;
}
.grayer-button {
    background-color: #4e5153;
}
